@charset "UTF-8";

/*First CSS V1.0*/

        body
        {
        font-family: 'Comic Sans MT', Arial, 'Bell MT', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
        line-height: 1.2;
        text-align: center;
        font-size: 62.5%;
        background-color:antiquewhite
        }


        .flyinggolira
        {
        

        }


        .imageblock1
        {
                

        }

        
        .imageblock2
        {


        }


        .imageblock3
        {


        }